<<<<<<< HEAD

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("21996.jpg");
    background-position: center;
    background-size: cover;
=======
body{
background-image: url("tracklifeweb.png");
min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;}
>>>>>>> parent of 9bf3a40... Merge branch 'master' of https://github.com/sese14/appstuff

    display: grid;
    grid-template-columns: 1fr;
}
button, input type="text"{}
.gps{
    width: 50%;
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
}

<<<<<<< HEAD
.sec{
    margin: auto auto;
    grid-row: 1;
    grid-column: 2;
=======
button{
    border-radius: 10px;
    background-color:rgb(162, 47, 47);
    height: 65px;
    width: 65px;
    position: absolute;
    right: 80px;
    bottom: 220px;
    z-index: +1;
>>>>>>> parent of 9bf3a40... Merge branch 'master' of https://github.com/sese14/appstuff
}
.sect{
    text-align: center;
    grid-column: 1/3;
    grid-row: 2;
    margin:auto auto;
}
   section{
        width: 80%;
        font-size: 32px;
        color: white;
    }

#bag{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}


